# @package _global_
defaults:
  - default


training:
  precision: 16-mixed
  max_epochs: 10000
  max_steps: 400000
  learning_rate: 0.000346
  lr_scheduler:
    use: True
    total_steps: ${..max_steps}
    pct_start: 0.005
    div_factor: 20
    final_div_factor: 10000
validation:
  val_check_interval: 10000
  check_val_every_n_epoch: null
batch_size:
  train: 6
  eval: 6
hardware:
  num_workers:
    train: 6
    eval: 2
